*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #fbfcf8;
}
.welcome_section{
    width: 100%;
    height: 100%;
    background-color: #fad818;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.section_container{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
}
.pointer_banner{
    width: fit-content;
    height: fit-content;
    position: relative;
    transform: rotate(-10deg);
}
.pointer_banner.banner_right{
    transform: rotate(100deg);
}
.pointer_banner img{
    width: 120px;
    height: 120px;

}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.3rem;
    padding: 1rem;
}
.title p{
    font-size: 20px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.button_start{
    width: 250px;
    height: 50px;
    background-color: #fbfcf8;
    border: 2px solid black;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
.button_start:hover{
    cursor: pointer;
}
.game_section{
    width: 100%;
    height: 100%;
    background-color: #fad818;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game_log{
    width: 360px;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.turn_history{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 3rem;
    border-radius: 12px;
    border: 2px solid black;
}
.turn-history, input{
    width:90%;
    height: 36px;
    border-radius: 8px;
    border-color: transparent;
    display: flex;
    align-items: center;
}
.turn_history, p{
    font-size: 22px;
    color: rgba(56, 26, 114, 0.884);
}
.player_history{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    padding: 3rem;
}
.game_board{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.score_board{
    width: 360px;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.board_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}
#gameboard{
    width: 315px;
    height: 315px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    z-index: 2;
}
.square{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board_container img{
    width: 400px;
    height: 500px;
}
.circle{
    width: 90px;
    height: 90px;
    border: 15px solid black;
    border-radius: 50%;
    box-sizing: border-box;
}
.cross{
    width: 90px;
    height: 90px;
    position: relative;
    transform: rotate(45deg);
}
.cross:before, .cross:after{
    content: "";
    position: absolute;
    background-color: black;
}
.cross::before{
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}
.cross::after{
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}
.score_text_container{
    width: 100px;
    height: 50px;
    display: flex;
    
}
.row{
    width: fit-content;
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}
.buttons_bg{
    background-color: transparent;
}
button{
    width: fit-content;
    padding: 6px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid black;

}